::-webkit-scrollbar {
  display: none;
  
}

body{
  background-color: black;
}

.box {
    width: 50%;
    float: left;
    height: 300px;/*Altura da linha*/
   }
   

   .linha-vertical {
    height: 500px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
  }

  .textColorTitle{
      color: white
    }
  h1{
    font-family: 'Times New Roman', Times, serif
  }
  
  .menuP{
      background-image: url(imagem/banner.jpg);
      
  }

  .container-cards{
    color: rgb(22, 211, 186);
    padding-top: 2rem;

  }

  .container-cards-scrolling{
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    padding: 1rem;
  }

  .container-cards-item{
    display: inline-block;
    transition: all .2 ease-in-out;
    max-width: 15rem;
    max-height: 10rem;
    width: 250px;
    text-align: center;
  }

  .container-cards-item:hover{
    transform: scale(1.2);


  .container-cards-item img{
    height: 100%;
    width: 100%;  
  }

  .container-cards-tittle{
    margin-left: 1rem;
  }

 

  p.dotted {border-style: dotted;}
  p.dashed {border-style: dashed;}
  p.solid {border-style: solid;}
  p.double {border-style: double;}
  p.groove {border-style: groove;}
  p.ridge {border-style: ridge;}
  p.inset {border-style: inset;}
  p.outset {border-style: outset;}
  p.none {border-style: none;}
  p.hidden {border-style: hidden;}
  p.mix {border-style: dotted dashed solid double;}

  h5{
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

  .barra{
    background-color:rgb(77,24,158);
  }

  .modal-title{
    color: black
  }

